:root {
    --board-size: 6;
}

p {
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;

    grid-template:
        "info"
        "board"
        "scores";

    align-items: center;
    justify-items: center;
    gap: 1em;
}

@media screen and (min-width: 700px) {
    body {
        display: grid;

        grid-template:
            "info ."
            "board scores" 1fr / 1fr;
    }
}

.game_info_top {
    grid-area: info;
    text-align: center;
}

.game {
    width: 100%;
    grid-area: board;
    display: grid;
    grid-template-columns: repeat(var(--board-size), 1fr);
    grid-gap: 5px;
    max-width: 800px;
    grid-auto-rows: 1fr;
}

.game::before {
    content: "";
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.game > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.game_block {
    display: flex;
    align-items: center;
    background-color: greenyellow;
}

.game_block + .selected {
    background-color: red;
    color: white;
}

.game_block + .correct {
    background-color: blue;
    color: white;
}

.block_inner {
    width: 100%;
    text-align: center;
}

#remaining_time { width: 15em; }

.scorelist {
    grid-area: scores;
    margin-right: 1em;
}

.color_selectors {
    grid-template: "a b";
    display: grid;
    width: fit-content;
    grid-gap: 5px 20px;
}

.settings > * {
    margin: 1em 0;
}
