:root {
  --board-size: 6;
}

.game {
    display: grid;
    grid-template-columns: repeat(var(--board-size), 1fr);
    grid-gap: 5px;
    /* max-width: 75vw; */
    grid-auto-rows: 1fr;
}

.game::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.game > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.game_block {
    display: flex;
    height: same-as-width;
    align-items: center;
    background-color: greenyellow;
}

.block_inner {
    width: 100%;
    text-align: center;
}

.color_selectors {
	min-width: 50px;
}

.color_selectors input {
    align: right;
}
