.game {
    display: flex;
    max-width: 700px;
    flex-wrap: wrap;
}

.game_block {
    display: flex;
    align-items: center;
    min-width: 100px;
    height: 100px;
    background-color: greenyellow;
    margin: 5px;
}

.block_inner {
    width: 100%;
    text-align: center;
}